spring:
  application:
    name: demoSpringUniversity

  datasource:
    url: jdbc:postgresql://localhost:5432/management_university
    username: postgres
    password: Aa@13781378
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 5555